ul {
    list-style-type: none;
}

body {
    background: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    color: #212121;

}
a:link {
    color: #212121;
    text-decoration: none;
}
a:visited {
    color: #212121;
}
a:hover,
a:focus {
    color: #2196F3;
}

/* Верхняя линия */

.head {
    background-color: #FFFFFF;
}

.container-x1 {

}

a.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #2196F3;
}

.logo-black {
    color: #000000;
}

.navigators {

}

.navigator {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.head-infos {

}

.head-info {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

a.head-info {
    color: #757575;
}

a.head-info:hover,
a.head-info:focus {
    color: #2196F3;
}
/* Шапка Профиля */

.solutions {
    background: #2F303A;
}

.solutions-text {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
/* Кнопка */

.button-background {
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.button-text {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
/* Особенности */

.no-see {
    color: transparent;
}

.features {

}

.feature {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.about-feature {
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}
/* Чем мы занимаемся*/

.what-we-do {

}

.head-doing {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

.works {

}
/* Наша команда */

.our-team {
    background: #F5F4FA;
}

.team-head {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

.card-shadow {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: #FFFFFF;
}

.team-member {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}

.member-description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}
/* Подвал */
footer {
    background-color: #2F303A;
}

a.footer-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #2196F3;
}
.logo-white {
    color: #FFFFFF;
}
a.location {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

a.footer-info {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
a.footer-info:hover,
a.footer-info:focus {
    color: #2196F3  ;
}
/* Указатели */
